<%
@sale_section ||= site.sections.with_translations(I18n.locale).published.named("sale_properties")
@rent_section ||= site.sections.with_translations(I18n.locale).published.named("rental_properties")
@rental_properties ||= rent_section.rental_properties.with_translations(I18n.locale).published.in_homepage if @rent_section
@sale_properties ||= sale_section.sale_properties.with_translations(I18n.locale).published.in_homepage if @sale_section
%>
<% content_for :page_content do %>
  <div class="row-fluid home-orbit">
    <div class="span12">
      <%= render 'shared/features', :features => @site.features.visibles %>
    </div>
  </div> 

  <div class="row-fluid">
    <section class="span12"> 
      <%= resource.body.html_safe  if resource.body %>  				
    </section>  
  </div>  
<% end %>