/* IMPORTS
-------------------------------------------------- */
@import "theme/variables";
@import "bootstrap/bootstrap";
@import "theme/form";
@import "theme/popup";
//
// Global
// --------------------------------------------------
html, body, .main-container {
    //height: 100%;
    min-height: 100%;
}

.container {
    @extend .container-fluid;
    width:100% !important;
    max-width: none !important;
}

.main-content {
    background-color: $body-bg;
    min-height: 100%;
    position: relative;
}

.footer {
    background-color: #e6e6e6;
    padding: 32px 0;
    font-size: 14px;
    a {
        border-bottom: 1px dotted $text-color;
    }
    .footer-col-title {
        text-transform: uppercase;
        color: $brand-primary;
        border-bottom: 8px solid $brand-primary;
        display: inline-block;
        padding-right: 12px;
    }
}

//
// Image
// --------------------------------------------------

// Make all images responsive by default
img {
    @extend .img-responsive;
    margin: 0 auto;
}

blockquote {
    font-size: $font-size-base;
    font-style: italic;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 0 $line-height-computed 30px;
}

//
// Carousel
// --------------------------------------------------

.owl-item img {
  display: inline-block;
  max-width: auto; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

//
// Type
// --------------------------------------------------



//
// Navbar
// --------------------------------------------------

.navbar {
    font-size: 16px;
}

.navbar-brand {
    //display: block;
    //margin-bottom: $line-height-computed;
    //margin-top: $line-height-computed;
    max-height: $navbar-height - 8px;
    margin-top: 4px;
    @include opacity(.8);
    > img,
    > .img-responsive {
        height: 100%;
    }
}

.navbar-nav {
    font-family: $headings-font-family;
    text-transform: uppercase;
    margin: $line-height-computed 0;
    > li {
        float: none;
        margin-bottom: 10px;
        > a {
            @include transition(all 0.5s ease);
            position: relative;
            padding: 0;
        }
        > ul {
            list-style: none;
            margin-top: 10px;
            margin-left: 0 !important;
            padding-left: 0 !important;
        }

        > ul > li {
            margin-bottom: 10px;
        }
        > ul > li > a {
            display: block;
            //padding: 0 0 0 60px;
            padding-left: 32px;
            position: relative;
            color: #888888;
            @include transition(all 0.5s ease);
            &:hover,
            &:focus {
                color: $brand-primary;
                text-decoration: none;
            }
        }
    }
}

@media (min-width: $grid-float-breakpoint) {
    .navbar {
        width: 380px;
        min-height: 100%;
        height: 100%;
        float: right;
        font-size: 16px;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;

        > .container .navbar-brand, 
        > .container-fluid .navbar-brand {
            margin-left: 0;
            margin-bottom: $line-height-computed;
            height: auto;
            max-width: 220px;
            margin-bottom: $line-height-computed;
            margin-top: $line-height-computed;
            
            margin-left: auto;
            margin-right: auto;
            float: none;
            display: block;
            > img,
            > .img-responsive {
                height: auto;
            }
        }
    }

    .navbar-header {
        width: 100%;
    }

    .navbar-nav {
        float: right;
    }
    .main-container {
        padding-left: 380px;
        background-color: $body-bg;
    }
    .main-content {
        //margin-top: -60px;
        max-width: 800px;
        padding-bottom: 60px;
        //@include center-block;
        //display: block;
    }

    @media (min-width: $grid-float-breakpoint) {
        float: right;
    }
}
//
// Header
// --------------------------------------------------

.background-image-holder {
    //position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center !important;
    //background-attachment: fixed;

}

.background-image-holder-home {
    //position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    //background-attachment: fixed;
    background-color: #fff;
}
//
// Spectacle
// --------------------------------------------------

.page-header {
    position: relative;
    padding: 0;
    margin: 0 0 $line-height-computed;
    border: none;
    .page-title {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        padding-right: 24px;
    }
}

.page-title {
    text-transform: uppercase;
    color: $brand-primary;
    margin-bottom: $line-height-computed;
    margin: 0;
    border-bottom: 20px solid $brand-primary;
}

.page-lead {
    //font-size: 31px;
    font-family: $headings-font-family;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: $line-height-computed;
}
.spectacle-intro {
  position: relative;
  i {
    font-size: 40px;
    position: absolute;
    top: 0;
    left: $line-height-computed;
    z-index: 1;
    color: #fff;
  }
  blockquote {
    font-size: 17px;
    line-height: 1.3;
    margin-left: 0;
    margin-right: 0;
    border-left: 0;
    margin-left: 50px;
    p {
      
    }
  }
}
.spectacle-links {
    margin-bottom: $line-height-computed;
}
.spectacle-chapter {
    margin: $line-height-computed 0 $line-height-computed 30px;
    ul {
      @include list-unstyled;
      > li {
        &:before {
          content: "_ ";
        }
      }
    }
}
.spectacle-chapter-title {
  margin-bottom: 0;
  font-size: $font-size-base;
  text-transform: uppercase;
  color: $brand-primary;
}

.spectacle-links > a {
    @extend .btn;
    @extend .btn-primary;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

.spectacle-events-title {
    //letter-spacing: 1px;
    color: $brand-primary;
    text-transform: uppercase;
    border-bottom: 20px solid $brand-primary;
}
.list-calendar,
.spectacle-events {

    > li {
        border-bottom: 1px dotted $text-color;
        padding: 12px 0;
    }
    .date {
        text-transform: normal;
    }
}

.learning-events {
  > li {
      border-bottom: 1px dotted $text-color;
      padding: 12px 0;
  }
  .dates {
      text-transform: normal;
      font-weight: 700;
  }
}
