/* custom variables >>> */ 
$altColor: #900; //red 
/* <<< custom variables */ 
$bodyBackgroundColor: #fcfcfc;
// Navbar
$navbarBackgroundHighlight: white;
$navbarBackground: white;
$baseFontFamily: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
$textColor: #6b6b6b; 
$linkColor: #6b6b6b;
$linkColorHover: #da5d26;
@import "zurb/foundation/orbit";
@import "gko_public_all"; 
@import "gko/elastislide"; 

/*-----------------------------------------
   SHARED STYLES 
----------------------------------------- */ 
.uppercase_font_style {
	line-height: 24px;
	font-size: 13px;
	letter-spacing: 1px; 
	text-transform: uppercase; 
}

/*-----------------------------------------
 TYPOGRAPHY 
----------------------------------------- */

/*-----------------------------------------
   OVERWRITTE
----------------------------------------- */
div.html_text { 
	h2 {
		text-align: center;
		border-top: 1px solid $textColor;
		border-bottom: 1px solid $textColor;
		padding: $baseLineHeight * .5 0;
		margin: $baseLineHeight 0;
	}
	p, ul {
		font-weight: 300;
	}
}
.block-grid h2 {
	font-size: $baseFontSize;
}
.block-grid .entry-thumb {
	background-color: white;
	border-bottom: 4px solid white;
	a {
		background-color: white;
		display:block;
	}
	img {
		@include transition(opacity .5s linear);
		&:hover {
			opacity: .7;
		}; 
	}
}
/*-----------------------------------------
   STRUCTURE
----------------------------------------- */ 
html, body {
	height:100%; /* needed for container min-height */
}
body {
display: block;

}
.row-fluid {
	margin: 0;
}

#wrapper-wide-body {
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}
#content-container {
	background-color: white;
	border-left: 12px solid black;
	padding-left: 8px; 
}
#content {
 background-color: white;
}
#main-column { 
	min-height: 395px;
	padding-top: 68px;
	background-color: #f8f8f8; 
	.main-column-inner {
		padding: 0 24px;
	} 
} 
#header {
	height: 100%;

	font-size: 10px;
	line-height: 28px;
	color: #ADADAD;
	letter-spacing: 1px;
	text-transform: uppercase;
	z-index: 10;
	display:block;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */ 
}
/*-----------------------------------------
 HEADER
----------------------------------------- */ 
.btn-navbar {
	@include buttonBackground(#e1e1e1, #e4e4e4);
}
.navbar .brand {
	@include logo(226px, 66px);
	margin: 16px 0;
}
.header-nav {
	.nav {
		@include vertical-nav;

	} 
	.nav > li > a {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 300;
	}

}
.navbar .nav .nav {
	margin-left:8px;
}
/*-----------------------------------------
   FOOTER
----------------------------------------- */ 

/*-----------------------------------------
   HOME
----------------------------------------- */ 
.home-orbit {
	margin-bottom: $baseLineHeight * 3;
}
#home h3 {
	color: #da5d26;
}
/*-----------------------------------------
 GLOBAL EFFECT
----------------------------------------- */
a {
	@include transition(color .5s linear, background-color .5s linear)
}
/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "gko/responsive"; 

// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
// --------------------------------------------------

@media (max-width: 980px) { 
  // GRID & CONTAINERS
  // -----------------
  // Remove width from containers
  .container-fluid {
    width: auto;
    padding: 0;
  }
	#content-container {
		border-top: 12px solid black;
		border-left: none;
		float: none;
		width: auto;
	}
  // Fluid rows
  .row-fluid {
    width: 100%;
  }
  // Undo negative margin on rows
  .row {
    margin-left: 0;
  }
  // Make all columns even
  .row > [class*="span"],
  .row-fluid > [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin: 0;
  }
}
