/* custom variables >>> */ 
$altColor: #900; //red 
/* <<< custom variables */ 
$bodyBackgroundColor: #fcfcfc;
// Navbar
$navbarButtonBackgroundHighlight: #e1e1e1; 
$navbarButtonBackground: #e4e4e4; 
$navbarButtonIconBarColor: black;

$baseFontFamily: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
$textColor: #6b6b6b; 
$linkColor: #6b6b6b;
$linkColorHover: #da5d26;
@import "zurb/foundation/orbit";
@import "gko_public_all"; 
@import "gko/elastislide"; 

/*-----------------------------------------
   SHARED STYLES 
----------------------------------------- */ 
.uppercase_font_style {
	line-height: 24px;
	font-size: 13px;
	letter-spacing: 1px; 
	text-transform: uppercase; 
}

/*-----------------------------------------
 TYPOGRAPHY 
----------------------------------------- */

/*-----------------------------------------
   OVERWRITTE
----------------------------------------- */
div.html_text { 
	h2 {
		text-align: center;
		border-top: 1px solid $textColor;
		border-bottom: 1px solid $textColor;
		padding: $baseLineHeight * .5 0;
		margin: $baseLineHeight 0;
	}
	p, ul {
		font-weight: 300;
	}
}
.block-grid h2 {
	font-size: $baseFontSize;
}
.block-grid .entry-thumb {
	background-color: white;
	border-bottom: 4px solid white;
	a {
		background-color: white;
		display:block;
	}
	img {
		@include transition(opacity .5s linear);
		&:hover {
			opacity: .7;
		}; 
	}
}
/*-----------------------------------------
   STRUCTURE
----------------------------------------- */ 
body {
	display: none;
}
.row-fluid {
	margin: 0;
}
#content-container {
	border-left: 12px solid $linkColorHover;
	padding-left: 0; 
}
#main-column { 
	//margin-left: 230px;
	background-color: #FFFFFF; 
	.main-column-inner {
		padding: 0 24px;
	} 
}
#footer {
	position: absolute;
	bottom: 34px;
	left: 0 auto;
	right: 0 auto;
} 
#copyright {
	position: absolute;
	bottom: 12px;
	left: 0 auto;
	right: 0 auto;
	text-align: center;
}
/*-----------------------------------------
 HEADER
----------------------------------------- */ 
#header {
	position:relative;
	.row-fluid {
		float: none;
		clear: both;
		display: block;
	}
}

.navbar .brand {
	@include logo(226px, 66px);
	margin: 16px 0;
}
.header-nav { 
	.nav {
		@include vertical-nav;
	} 
	.nav > li > a {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 300;
	}
}
.navbar .nav .nav {
	margin-left:8px;
}
/*-----------------------------------------
   FOOTER
----------------------------------------- */ 
/*-----------------------------------------
   SLIDESHOW
----------------------------------------- */ 
.carousel,
.diaporama {
	margin: 0 -24px $baseLineHeight -24px;
}

.images-thumbnails-container{
	padding: 2px 37px;
}
.images-thumbnails{
	a{
		border:none;
	}
}


/*-----------------------------------------
   HOME
----------------------------------------- */ 
.home-orbit {
	margin-bottom: $baseLineHeight * 3;
}
#home h3 {
	color: #da5d26;
}
/*-----------------------------------------
 GLOBAL EFFECT
----------------------------------------- */
a {
	@include transition(color .5s linear, background-color .5s linear)
}
/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "gko/responsive"; 

// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
// --------------------------------------------------

@media (max-width: 980px) { 
  // GRID & CONTAINERS
  // -----------------
  // Remove width from containers
  .container-fluid {
    width: auto;
    padding: 0;
  }
	#content-container {
		border-top: 12px solid black;
		border-left: none;
		float: none;
		width: auto;
	}
  // Fluid rows
  .row-fluid {
    width: 100%;
  }
  // Undo negative margin on rows
  .row {
    margin-left: 0;
  }
  // Make all columns even
  .row > [class*="span"],
  .row-fluid > [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin: 0;
  }
}
