<li>
    <span class="dates"><%= format_spectacle_event_date(spectacle_event) %></span>
    <% if spectacle_event.location %>
        <span class="location"><%= spectacle_event.location %></span>
    <% end %>
    <% if spectacle_event.place %>
        <span class="place">
            <%= spectacle_event.more_info_url.present? ? link_to(spectacle_event.place, spectacle_event.more_info_url, :target => :blank) : spectacle_event.place %>
        </span>
    <% end %>
</li>