<!-- Begin Header -->
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to(image_tag("logo.png", :alt => site.title, :class => "img-responsive", :nopin => "nopin"), root_url, :class => "navbar-brand") %>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse">
      <%= render 'menu', :sections => site.primary_menu, :menu_name => 'nav navbar-nav' %>

    </nav>
    <ul id='locales' class="nav nav-locales hidden-print">
    <% if site.frontend_translated? %>
      <% site.available_locales.each do |language| %>
        <% unless current_locale?(language.code) %>
          <li><%= link_to(language.presentation, root_url(:locale => language.code), :class => [language.code.to_s, 'navbar-link']) %></li>
        <% end %>
      <% end %>
    <% end %>
    <li><a class="navbar-link text-primary" type="button" data-toggle="modal" href="#modal_newsletter">Newsletter</a></li>
    </ul>
  </div>
</div>
<%# end %>
