<!-- Newsletter
  ================================================== -->
<section class="newsletter">
  <div class="container">
    <div class="row">
     <div class="col-sm-12">
        <h2>Newsletter</h2>
      </div>
    </div>
    <div class="row">
      <form class="form-newsletter" role="form" action="http://account.stbarth-emailing.com/t/j/s/ntyilt/" method="post">
        <div class="col-md-3">
          <div class="form-group">
            <label class="sr-only" for="fieldName">Nom</label>
            <input type="text" class="form-control" name="cm-name" id="fieldName" placeholder="Name" required>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="sr-only" for="fieldEmail">Email</label>
            <input class="form-control" id="fieldEmail" name="cm-ntyilt-ntyilt" placeholder="Enter email" type="email" required >
          </div>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-inverse"><i class="fa fa-paper-plane"></i> Envoyer</button>
        </div>
      </form>
    </div><!--end of row-->
  </div><!--end of container-->
</section>